// @media (max-width: 955px)
// {
// 	.main-menu-desktop
// 	{
// 		display: none;
// 	}

// 	.main-menu-responsive
// 	{
// 		display: block;	
// 	}
// }



@media (max-width: 955px)
{


	.nav-top-container
	{
		display: none;
	}


	.header
	{

		div.logo-cabecera-aenor
		{
			background: transparent url(../img/mundo.png) no-repeat bottom center;

			img
			{
				margin: 0 auto;
			}
			//background-color: red;
		}
	}

	h3
	{
		padding-left: 10px;
	}

	.main-menu-desktop
	{
		display: none;
	}

	.main-menu-responsive
	{
		display: block;	
	}


	.header
	{
		div
		{
			text-align: center;
			img
			{

			}
		}

		div.nav-top-container
		{
			padding-top: 5px;
			padding-bottom: 45px;
			margin-top: 5px;


			ul
			{
				li
				{
					width: 100%;
					margin-top: 5px;
					margin-bottom: 5px;
					width: 43%;
				}
			}

		}
	}



	.menu-superior-tienda
	{
		ul
		{
			li
			{
				width: 100%;
			}
		}

	}


	.home-slider-solution-finder
	{

		div.form-group
		{
			width: 100%;
			margin: 0;
			padding: 0;
		}


		div.form-container
		{
			margin: 0;
			padding: 0;
		}





		form.form-solution-finder
		{
			
			margin: 0;
			padding: 0;
			width: 100%;

			input.busqueda-solucion
			{

				width: 100%;
				margin-top: 15px;
			}

			select
			{
				width:92%;
				.toem(3);
				margin-top: 10px;
			}

			button
			{
				float: right;

			}


		}
	}

	.bg-social-footer
	{
		iframe
		{
			margin: 0 auto;
		}
	}


	.widget-youtube
	{
		margin: 0 auto;
		margin-bottom: 30px;

	}

	footer
	{

		div
		{
			
			width: 100%;

			img
			{
				margin-top: 10px;
			}

			ul.right
			{
				float: left;
				width: 100%;

				li
				{
					width: 100%;
					margin-top: 5px;
				}
			}



		}




		div.right
		{
			float: left;
			
		}

		
				
	}

	.columna-utilidades
	{
		//display: none;
	}


	.cabeceras-secciones-interiores
	{

			div
			{
				margin: 0;
				padding: 0;
			}


			div.contenedor-img-cabecera
			{
				margin: 0;
				padding: 0;
				border:1px solid #CCC;
				border-left:7px solid #CCC;
				border:none;

				width: 100%;
				min-height: 120px;




				img
				{
					height: 100%;
					min-height: 120px;
				}


				h2
				{
					margin:0;
					padding: 0;
					position: absolute;
					margin-left: .2em;
					
				}
			}


	}


.bread-crumbs
{
	margin-top: 0px;
	div.container-bread-crumbs
	{
		ul
		{
			li
			{
					font-size: 10px;
			}
		}
	}
}

.columna-utilidades
{

	
	h3
	{

		.reset();
		margin-left: 0px;
		padding-top: 1em;
	}



	div.documentacion
	{
		margin-right: .2em;
		margin-left: .2em;
		//margin-left: 0px;
	}


	div.productos-relacionados
	{
		margin-left: 2px;
		margin-top: 20px;
		margin-right: 2px;
	}

	div.formacion
	{
		margin-left: .2em;
		margin-top: 20px;


		h5
		{
			font-family: 'aenor_fontana_ndbold';
			.toem(2.2);
			color: #474747;
		}



		ul
		{


			li
			{
				width: 100%;
				display: block;
				min-height: 105px;

				p
				{
					display: block;
				}
			}
		}
	}


}


.contenido-paginas-interiores
{

	div.container-text-interiores
	{
		h2
		{
			margin-left: .2em;
		}

		h3
		{
			margin-left: .2em;
		}

		p
		{
			margin-left: .2em;
			margin-right: .2em;
		}		
	}
}



}